.gradle
.idea
.intellijPlatform
.qodana
build
node_modules/
.kotlin
out

*.class
*.jar
*.log
.env*
.DS_Store
.vscode/

instrumented*

ai
tree-sitter-wasm/target/
src/main/resources/wasm/tree-sitter/tree-sitter.wasm
