.gradle
.idea
.intellijPlatform
.qodana
build
.kotlin
out

*.class
*.jar
*.iml
*.log
.env*
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/

instrumented*

ai
tree-sitter-wasm/target/
src/main/resources/wasm/tree-sitter/tree-sitter.wasm
